<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="SRLic" value="58A58545A9570E739DF83CC37935D1E2E869A15E1D71ECCD1D34E0B9870A1E9135FFE2B5B721F9F12DF89335363FC73E82B68FE71FFA87ED0A70D3757AFEFE7FCAA79AA6F6ED0B6B32BE75D8CDF63EEB.99.99.9999"/>
		<add key="BaseUrl" value="http://localhost/SRWSvcsExt/DIndex"/>
		<add key="IDPBaseUrl" value="http://localhost:61766/api"/>
		<add key="Crede" value="srwsuser"/>
		<add key="Crede1" value="4010CB7165A124F15D3BCD3C8BF3A0D5"/>
		<add key="LogPath" value="C:\Log"/>
		<add key="LicKey" value ="f0068NQAAAF3fVCJ7sgwmoL6x7619LZ/lAbnuLGI/3Iz+PtzTm7Xa7dEBMzxlGEhrBufQNVtTkpPIZG8Agf4qV2sdiww1fsQ="/>
		<add key="IRLicKey" value="IRONSUITE.SUREREACHRECORDSMANAGEMENT.IRO240513.6249.61134-9F90F6C976-FA2C4BPT3STXCW-6YSBLXJJCLQJ-QPJC5WAGKOWY-GBQCAVSBQYLC-YOC674HA5T3O-TI3LJOSWKPFF-H5XZGU-L52QNQA7GW6VEA-IRONSUITE.DOTNET.UNLIMITED.5YR-PYYIDG.RENEW.SUPPORT.12.MAY.2029" />
		<add key="IRBCLicKey" value="IRONSUITE.SUREREACHRECORDSMANAGEMENT.IRO240513.6249.61134-9F90F6C976-FA2C4BPT3STXCW-6YSBLXJJCLQJ-QPJC5WAGKOWY-GBQCAVSBQYLC-YOC674HA5T3O-TI3LJOSWKPFF-H5XZGU-L52QNQA7GW6VEA-IRONSUITE.DOTNET.UNLIMITED.5YR-PYYIDG.RENEW.SUPPORT.12.MAY.2029" />
		<add key="IRPDFLicKey" value="IRONSUITE.SUREREACHRECORDSMANAGEMENT.IRO240513.6249.61134-9F90F6C976-FA2C4BPT3STXCW-6YSBLXJJCLQJ-QPJC5WAGKOWY-GBQCAVSBQYLC-YOC674HA5T3O-TI3LJOSWKPFF-H5XZGU-L52QNQA7GW6VEA-IRONSUITE.DOTNET.UNLIMITED.5YR-PYYIDG.RENEW.SUPPORT.12.MAY.2029" />
		<add key="DBMode" value="2"/>	<!--0=SQL,1=DSN-->
		<add key="DSNName" value=""/>	<!--required if DBMode=1-->
		<add key="DBDriver" value="MSOLEDBSQL"/><!--required if DBMode=0-->
		<add key="DBHost" value="B3094E15374AF7567C9083A6897BADBE0032F58AD628386B96B706B63F09A038"/>
		<add key="DBName" value="C310AA6706FCDCF4CCEAC16E4E263510"/>
		<add key="DBUid" value="6D0FAC2E24DAC2EE6AD05A93F2A92B87"/>
		<add key="DBPwd" value="810677A128D222EA0CDF655989B5939A"/>
		<add key="Branch" value="F14257F257F113A0ED729B82F6E67D66" />
		<add key="ScanStn" value="F14257F257F113A0ED729B82F6E67D66" />
		<add key="2PDFTimeout" value="180"/><!--Seconds-->
		<add key="2PDFDelay" value="2000"/><!--Miliseconds-->
		<add key="SessMaxTimeout" value="30"/><!--Seconds-->
	</appSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
